body {
    background-color: #000000;
    color: white;
}

.chat {
    width: 70%;
    background-color: #146C94;
    padding: 20px;
}

.chat-form {
    height: 30px;
}

.chat_image {
    width: 100px;
}

.contents {
    display: flex;
    justify-content: space-around;
    height: 78%
}

.header {
    display: flex;
    background-color: #F6F1F1;
    color: black;
    height: 17%;
    align-items: center;
}

.header > div {
    padding: 20px;
}

.image_div {
    height: 80%;
    width: 0;
}

img.post {
    width: 120px;
}

.my_image {
    height: 100%;
}

.title {
    height: 5%;
}

.user-list {
    width: 30%;
    background-color: #19A7CE;
    padding: 20px;
}

.video-chat {
    background-color: #158Cb4;
    padding: 20px;
}

.webrtc-video {
    width: 100%;
    max-width: 200px;
}

.welcome-div {
    margin-left: 12%;
}

#chat-messages {
    height: 90%;
    overflow: scroll;
}